
@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Inicio de Sesión</title>
    <meta content="" name="description">
    <meta content="" name="keywords">




    <link href="../content/Login.css" rel="stylesheet">


</head>


<body>
    <form class="formIS" method="post" action="@Url.Action("InicioSesionApp", "AccesoApp")">
        <p class="titleIS">Inicio de Sesión </p>



        <label>
            <span>Correo</span>
            <input required="" name="correo" placeholder="" type="email" class="input">
        </label>

        <label>
            <span>Clave</span>
            <input required="" name="password" placeholder="" type="password" class="input">
        </label>

        <button type="submit" class="submitIS">Iniciar sesión</button>

        <div id="errorDiv" class="error-message">
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </form>

</body>

